
sample01/.vs
sample01/debug
sample01/GeneratedFiles
sample01/release
sample01/x64
sample01/QtModelingStudio.pro.user
sample01/QtModelingStudio.sln
sample01/QtModelingStudio.vcxproj
sample01/QtModelingStudio.vcxproj.filters
sample01/QtModelingStudio.vcxproj.user

sample02/QtGuiApplication4/.vs
sample02/QtGuiApplication4/Debug
sample02/GeneratedFiles
sample02/QtGuiApplication4/x64

sample02/QtGuiApplication4/QtGuiApplication4/GeneratedFiles

sample02/QtGuiApplication4/QtGuiApplication4/x64

sample02/QtGuiApplication4/QtGuiApplication4/release

sample02/QtGuiApplication4/QtGuiApplication4/debug

QtModelingStudio/.vs/QtModelingStudio/v14/.suo
QtModelingStudio/debug
QtModelingStudio/QtModelingStudio.pro.user
QtModelingStudio/QtModelingStudio.sln
QtModelingStudio/QtModelingStudio.VC.db
QtModelingStudio/QtModelingStudio.vcxproj
QtModelingStudio/QtModelingStudio.vcxproj.filters
QtModelingStudio/QtModelingStudio.vcxproj.user

QtModelingStudio/Win32
QtModelingStudio/x64
sample02/QtGuiApplication4/QtGuiApplication4.VC.db
QtModelingStudio/GeneratedFiles
build-QtModelingStudio-Desktop_Qt_5_9_2_MinGW_32bit-Debug
QtModelingStudio/.vs
QtModelingStudio/release
